@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Canvas */
.canvas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    place-content: center;
    column-gap: 40px;
    row-gap: 40px;
}

.card > .card-header {
    padding: 0;
    border: 0;
}

.homepage-tags-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 21px;
    place-content: start;
    column-gap: 2px;
}
