@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Canvas */
.canvas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    place-content: center;
    column-gap: 40px;
    row-gap: 40px;
}

/* imageCard */
.image-card {
    height: 220px;
    background-color: wheat;
    box-shadow: '2px 2px 4px rgba(0, 0, 0, 0.3)';
}

.image-card > .image-card-top {
    height: 160px;
    width: 300px;
}

.image-card > .image-card-bottom {
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image-name gutter image-uploader";
    height: 60px;
    width: 300px;
}

.image-card > .image-card-bottom > .image-name {
    grid-area: image-name;
    justify-self: start;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-left: 7px;
}

.image-card > .image-card-bottom > .image-uploader {
    grid-area: image-uploader;
    justify-self: end;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-right: 10px;
}
