@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 60px;
    --theme-color: #4f46e5;
    --theme-white: #f7ede2
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Page */
.page {
    display: grid;
    grid-template-rows: var(--header-height) auto;
    row-gap: 10px;
    grid-template-areas: 
        "header"
        "canvas";
}

/* header */
.header {
    grid-area: header;

    display: grid;
    position: fixed;

    grid-template-rows: 1fr;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "none nav";

    width: 100vw;
    height: var(--header-height);
    
    background-color: var(--theme-color);
}

.header > .nav {
    display: grid;

    grid-area: nav;

    grid-template-columns: repeat(auto-fit, 100px);

    color: var(--theme-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header > .nav > .nav-item {
    place-self: center;
}

/* canvas */
.canvas {
    grid-area: canvas;

    display: grid;

    padding-left: 10px;
    padding-right: 10px;
}

/* table */
.cell {
    padding: 5px;
}

.labels {
    display: flex;

    flex-flow: row wrap;

    justify-content: flex-start;

    gap: 5px;
}

.labels > .label {
    color: var(--theme-white);
    background-color: #4f46e5;
    padding-left: 5px;
    padding-right: 5px;
}

/* dropdown */
.solutions_dropdown {
    display: grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;

    padding: 5px;

    grid-template-areas:
        "solutions_dropdown_language solutions_dropdown_description"
}

